[your-config]

# files direction
#bu parametreleri mongo db ye yaz ordan oku

filePathForOutputs = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/
filePathForFollowersOutputs = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/followers/
ListOfUsernamefilepath = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/userlist
filepathformongo = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/MCGtimelines/olumlu/*.txt
filepathfortokenization = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/MCGtimelines/
streamingTxtFile = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/MCGtimelines/streamingTxtFile.txt


 # Twitter API credentials
consumer_key = uzludXf9EsGOGfoPpL4ibe1N6
consumer_secret = QABjGRsJ46N7KFPRAHyy3Fl8S8x2OnrnvkeORK4pedXRFNviv1
access_key = 703245298932563968-LCnaCNU8qNkqoHpFabWH1LWt1Qaay9I
access_secret = qXPH1ES9EvdwPi2JAwZAjKHENyTtoPO9swWybJi7mvp8K

streamingdb = streamingdb

emoticons_str = r"""
    (?:
        [:=;] # Eyes
        [oO\-]? # Nose (optional)
        [D\)\]\(\]/\\OpP] # Mouth
    )"""

regex_str =
    r'<[^>]+>',  # HTML tags
    r'(?:@[\w_]+)',  # @-mentions
    r"(?:\#+[\w_]+[\w\'_\-]*[\w_]+)",  # hash-tags
    r'http[s]?://(?:[a-z]|[0-9]|[$-_@.&amp;+]|[!*\(\),]|(?:%[0-9a-f][0-9a-f]))+',  # URLs

    r'(?:(?:\d+,?)+(?:\.?\d+)?)',  # numbers
    r"(?:[a-z][a-z'\-_]+[a-z])",  # words with - and '
    r'(?:[\w_]+)',  # other words
    r'(?:\S)'  # anything else



positive_vocab =
    'good', 'nice', 'great', 'awesome', 'outstanding',
    'fantastic', 'terrific', ':)', ':-)', 'like', 'love
    # shall we also include game-specific terms?
    # 'triumph', 'triumphal', 'triumphant', 'victory', etc.
negative_vocab =
    'bad', 'terrible', 'crap', 'useless', 'hate', ':(', ':-('
    # 'defeat', etc.