[your-config]

# files direction
#bu parametreleri mongo db ye yaz ordan oku

filePathForTimelineOutputs = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/timeline/
filePathForFollowersOutputs = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/followers/
ListOfUsernamefilepath = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/userlist
filepathformongo = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/MCGtimelines/olumlu/*.txt
filepathfortokenization = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/MCGtimelines/
streamingTxtFile = /Users/musabbozkurt/Documents/PycharmProjects/Bitirme/MCGtimelines/

wordListForStreaming=['python', 'java', '#java', 'javascript']


 # Twitter API credentials
consumer_key = uzludXf9EsGOGfoPpL4ibe1N6
consumer_secret = QABjGRsJ46N7KFPRAHyy3Fl8S8x2OnrnvkeORK4pedXRFNviv1
access_key = 703245298932563968-LCnaCNU8qNkqoHpFabWH1LWt1Qaay9I
access_secret = qXPH1ES9EvdwPi2JAwZAjKHENyTtoPO9swWybJi7mvp8K

streamingdb = streamingdb

emoticons_str = r"""
    (?:
        [:=;] # Eyes
        [oO\-]? # Nose (optional)
        [D\)\]\(\]/\\OpP] # Mouth
    )"""

HTML_tags =r'<[^>]+>'
mentions =r'(?:@[\w_]+)'
hash_tags =r"(?:\#+[\w_]+[\w\'_\-]*[\w_]+)"
URLs =r'http[s]?://(?:[a-z]|[0-9]|[$-_@.&amp;+]|[!*\(\),]|(?:%[0-9a-f][0-9a-f]))+'

numbers =r'(?:(?:\d+,?)+(?:\.?\d+)?)'
words_with = r"(?:[a-z][a-z'\-_]+[a-z])"
other_words =r'(?:[\w_]+)'
anything_else =r'(?:\S)'



positive_vocab =
    'good', 'nice', 'great', 'awesome', 'outstanding',
    'fantastic', 'terrific', ':)', ':-)', 'like', 'love
    # shall we also include game-specific terms?
    # 'triumph', 'triumphal', 'triumphant', 'victory', etc.
negative_vocab =
    'bad', 'terrible', 'crap', 'useless', 'hate', ':(', ':-('
    # 'defeat', etc.