[your-config]

# files direction

filePathForTimelineOutputs =
filePathForFollowersOutputs =
ListOfUsernamefilepath =
filepathformongo =
filepathfortokenization =
filePathForCrossVal=

wordListForStreaming=['python', 'java', '#java', 'javascript']


 # Twitter API credentials
consumer_key =
consumer_secret =
access_key =
access_secret =

emoticons_str = r"""
    (?:
        [:=;] # Eyes
        [oO\-]? # Nose (optional)
        [D\)\]\(\]/\\OpP] # Mouth
    )"""

HTML_tags =r'<[^>]+>'
mentions =r'(?:@[\w_]+)'
hash_tags =r"(?:\#+[\w_]+[\w\'_\-]*[\w_]+)"
URLs =r'http[s]?://(?:[a-z]|[0-9]|[$-_@.&amp;+]|[!*\(\),]|(?:%[0-9a-f][0-9a-f]))+'

numbers =r'(?:(?:\d+,?)+(?:\.?\d+)?)'
words_with = r"(?:[a-z][a-z'\-_]+[a-z])"
other_words =r'(?:[\w_]+)'
anything_else =r'(?:\S)'



positive_vocab =
    'good', 'nice', 'great', 'awesome', 'outstanding',
    'fantastic', 'terrific', ':)', ':-)', 'like', 'love
    # shall we also include game-specific terms?
    # 'triumph', 'triumphal', 'triumphant', 'victory', etc.
negative_vocab =
    'bad', 'terrible', 'crap', 'useless', 'hate', ':(', ':-('
    # 'defeat', etc.