[your-config]

# files direction
#bu parametreleri mongo db ye yaz ordan oku

filePathForOutputs = "/Users/musabbozkurt/PycharmProjects/Bitirme"
filePathForFollowersOutputs = "/Users/musabbozkurt/PycharmProjects/Bitirme/followers/"
ListOfUsernamefilepath = '/Users/musabbozkurt/PycharmProjects/Bitirme/userlist.txt'
filepathformongo = "/Users/musabbozkurt/PycharmProjects/Bitirme/MCGtimelines/*.txt"
filepathfortokenization = "/Users/musabbozkurt/Desktop/MCGtimelines/"
streamingTxtFile = "/Users/musabbozkurt/PycharmProjects/Bitirme/MCGtimelines/"


 # Twitter API credentials
consumer_key = "uzludXf9EsGOGfoPpL4ibe1N6"
consumer_secret = "QABjGRsJ46N7KFPRAHyy3Fl8S8x2OnrnvkeORK4pedXRFNviv1"
access_key = "703245298932563968-LCnaCNU8qNkqoHpFabWH1LWt1Qaay9I"
access_secret = "qXPH1ES9EvdwPi2JAwZAjKHENyTtoPO9swWybJi7mvp8K"

streamingdb = 'streamingdb'