[your-config]

# file paths
file_path_for_timeline_outputs = /data_folders/file_path_for_timeline_outputs/
file_path_for_followers_outputs = /data_folders/file_path_for_followers_outputs/
file_path_for_list_of_username = /data_folders/file_path_for_list_of_username/
file_path_for_mongo = /data_folders/file_path_for_mongo/
file_path_for_tokenization = /data_folders/file_path_for_tokenization/
file_path_for_cross_val = /data_folders/file_path_for_cross_val/
streaming_txt_file = /data_folders/streaming_txt_file/
streaming_db = /data_folders/streaming_db/

# Twitter API credentials
consumer_key =
consumer_secret =
access_key =
access_secret =

word_list_for_streaming=['python', 'java', '#java', 'javascript']

emoticons_str = r"""
    (?:
        [:=;] # Eyes
        [oO\-]? # Nose (optional)
        [D\)\]\(\]/\\OpP] # Mouth
    )"""

html_tags =r'<[^>]+>'
mentions =r'(?:@[\w_]+)'
hash_tags =r"(?:\#+[\w_]+[\w\'_\-]*[\w_]+)"
urls =r'http[s]?://(?:[a-z]|[0-9]|[$-_@.&amp;+]|[!*\(\),]|(?:%[0-9a-f][0-9a-f]))+'

numbers =r'(?:(?:\d+,?)+(?:\.?\d+)?)'
words_with = r"(?:[a-z][a-z'\-_]+[a-z])"
other_words =r'(?:[\w_]+)'
anything_else =r'(?:\S)'

positive_vocab =
    'good', 'nice', 'great', 'awesome', 'outstanding',
    'fantastic', 'terrific', ':)', ':-)', 'like', 'love
    # shall we also include game-specific terms?
    # 'triumph', 'triumphal', 'triumphant', 'victory', etc.

negative_vocab =
    'bad', 'terrible', 'crap', 'useless', 'hate', ':(', ':-('
    # 'defeat', etc.